body{
    background-color: #ececec!important;
}

#VadagonVolumeStatus {
    display:none!important;
}


/* --------------CSS PERSONALIDO----------------*/

/*-----NAVBAR-----*/

.navbar-site{
    margin-top: 1%;
    max-height: 50px;
    background-color: #00486F;
    border-radius: 5px;
}

.ajustes{
    margin: 0% 0% 1.4% 34%;
}

.btn-acess{
    margin-top: -27%;
    color: #fff;
    background-color: transparent;
    max-height: 50px;
    max-width: 50px;
    border-color: #fff;
}

.titulo-acess{
    font-size: 1.1rem;
    margin-top: 1.2%!important;
}

.nav-pesquisa{
    margin: -1.5% 0% 0% 2%;
}


/*------HEADER-----*/

.navbar-header{
    height: 10rem;
    margin: 0% 0% 1% 0%;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}

.logo-site img{
    max-height: 80px;
    max-height: 80px;
}


/*------SLIDER-----*/

.site-carousel{
    border-radius: 5px;
}


/*------ACESSO RAPIDO-----*/

.acess-rapido{
    margin-top: 3%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.acess-rapido:hover{
    max-width: 100%;
    font-size: 1.6rem;
    padding-top: 0.2%;
    color: #1675a8;
    transition: 0.6s;
}

.acess-rapido p{
  margin-top: 0.35%;
}

.losango{
    margin: 0.5rem 1rem;
    width: 300px;
    height: 31px;
    -webkit-transform: skew(140deg);
    background: #00486F;

}

.losango p{
    color: #fff;
    font-weight: bold; 
    -webkit-transform: skew(30deg) ;
}

.acess_rap_btns{
    margin-top: 1%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.acess_rap_btns a {
    text-decoration: none;
}

.btn_acrpd {
    margin: 0rem 1rem 0rem 0rem;
    color: #00486F!important;
    background-color: transparent!important;
    width: 7.5rem;
    height: 6rem;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 0.6rem;
}

.btn_acrpd:hover{
    background-color: #00486f!important;
    transition: 0.3s; 
    text-decoration: none;
    filter: contrast(160%);
    color: #fff!important;    
    transform: scale(1.1);
}

.btn_acrpd img {
    margin: 0.5rem 0rem 0.35em 0rem;
}


/*------NOTÍCIAS-----*/

.noticias_titulo{
    margin-top: 3%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.noticias_titulo:hover{
    max-width: 100%;
    font-size: 1.6rem;
    padding-top: 0.2%;
    color: #1675a8;
    transition: 0.6s;
}

.div_noticias {
    /* display: flex; */
    /* text-align: center; */
    /* justify-content: center; */
    background-color: #fff;
    position: relative;
    top: 1rem;
    width: 100%;
    height: auto;
    /* flex-direction: column; */
    /* align-items: center; */
}

.box_noticias {
    display: flex;
    flex-wrap: nowrap;
    background-color: #ececec;
    width: 100%!important;
    height: auto;
    padding: 1rem 0rem 0rem 3rem!important;
    margin: 0% 0% 0% 0.8%;
    justify-content: space-evenly;
}

.img_noticia_dest {
    height: 13rem;
    width: 16rem;
    margin: 0.5rem 0rem 0rem 0.5rem;
    transition: 1s;
}

.img_noticia_dest:hover{
    transform: scale(1.03);
    transition:1s;
}

.img_noticia {
    height: 13rem;
    width: 16rem;
    margin: 0rem 0rem 0rem -0.75rem;
    border-bottom:#00486f 1px solid ;
    border-radius: 0;
}

.noticia_destaque {
    height: 27rem;
    display: flex;
    width: 100%;
    margin: 2rem 0rem 0rem 0.2rem;
}

.noticia_destaque a {
    color: #696464;
    text-decoration: none;
    transition: 0.1s;
    height: 360px;
}

.texto_noticia a {
    color: #696464;
    text-decoration: none;
    transition: 0.1s;
    height: 312px;
}

.noticia_destaque a:hover {
    color: #696464;
    text-decoration: none;
}

.noticia_destaque a p:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.noticia_destaque img {
    width: 35rem;
    height: 25rem;
    max-width: 480px;
    max-height: 360px;
}

.texto_noticia {
    font-size: 0.9rem;
    display: flex;
    width: 50%!important;
    height: 22rem;
    position: relative;
    top: 3.5rem;
    left: 1.5rem;
    text-align: justify;
    text-decoration: none!important;
    flex-wrap: wrap;
}

.noticia_padrao {
    display: flex;
    background-color: #fff;
    height: 18rem;
    width: 16rem!important;
    margin: 2rem 4rem 2rem 0rem;
    transition: 0.7s;
}

.noticia_padrao:hover{
    transform: scale(1.01);
    transition: 0.7s;
}

.noticia_padrao a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.noticia_padrao a p {
    margin-top: 1.5rem;
    color: #696464;
    font-size: 0.9rem;
}

.not_linha {
    width: 16.8rem;
}

.calendario_noticia_ano {
    z-index: 9999;
    display: flex;
    flex-direction: column;
    width: 56px;
    height: 55px;
    background: #fff;
    border-radius: 4px;
    color: #00486f;
    align-items: center;
    position: relative;
    left: -20.8%;
    top: 0%;
    font-size: 16px;
    font-weight: bold;
}

.calendario_noticia_mes {
    z-index: 9999;
    display: flex;
    width: 56px;
    height: 25px;
    background: #00486f;
    color: #fff;
    align-items: center;
    position: relative;
    justify-content: center;
    font-weight: bold;
}

.calendario_noticia_dest_ano {
    z-index: 9999;
    /* display: flex; */
    width: 80px!important;
    height: 80px;
    background: #fff;
    color: #00486f;
    align-items: center;
    position: absolute;
    left: 1.8%;
    top: 1.1%;
    font-size: 1.2rem;
    font-weight: bold;
}

.calendario_noticia_dest_mes {
    z-index: 9999;
    display: flex;
    width: 80px;
    height: 39px;
    background: #00486f;
    color: #fff;
    align-items: center;
    position: relative;
    font-weight: bold;
    justify-content: center;
    left: -22%;
    margin-bottom: 10%;
    font-size: 1.2rem;
}

.cont_lendo {
    width: 22%;
    height: 10%;
    background-color: #00486f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*------GALERIA DE VIDEOS-----*/

.box_videos {
    display: flex;
    height: auto;
    padding: 2rem 0rem 0rem 1rem;
    margin: 0% 0% 0% -1%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_videos{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: 1rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.titulo_vid_d {
    position: relative;
    width: 79.2%;
    height: 13%;
    background-color: #00486f;
    left: -1.1%;
    top: -1.9%;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    color: #fff;
    font-weight: bold;
}

.titulo_vid {
    position: relative;
    width: 99.3%;
    height: 13%;
    background-color: #00486f;
    left: 0.4%;
    top: -2.1%;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    font-weight: bold;
    padding-top: 1.55%;
}

.titulo_vid_d:hover{
    background-color: #025c8d;
}

.titulo_vid:hover{
    background-color: #025c8d;
}

.video_destaque {
    height: 27rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 3rem 0rem 0.2rem;
}

.video_destaque p {
    font-size: 1rem;
}

.video_padrao {
    background-color: #fff;
    height: 18rem;
    width: 19.5rem!important;
    transition: 0.7s;
}

.video_padrao p{
    font-size: 0.7rem;
}

.video_d {
    border-radius: 5px 5px 0px 0px;
    margin: 1.5% 0% 0% -23%;
}

.video_p {
    border-radius: 5px 5px 0px 0px;;
}

.texto_video {
    font-size: 0.9rem;
    display: flex;
    height: 22rem;
    position: absolute;
    top: 1.5rem;
    left: 32rem;
    text-align: justify;
    text-decoration: none!important;
}


/*------PARLAMENTARES-----*/

.div_parlamentares {
    margin: 0% 0% 2% 0%;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: 1rem;
    width: 100%!important;
    height: 40rem;
    flex-direction: column;
    align-items: center;
}

.losango_presidente_e {
    margin: 0% 4% 0% -2%;
    width: 310px!important;
    height: 115px;
    -webkit-transform: skew( 
140deg
 );
    background: #00486F;
    position: relative;
    left: 5.5%;
}

.losango_presidente_d {
    width: 310px!important;
    height: 115px;
    -webkit-transform: skew(140deg);
    background: #00486F;
    position: relative;
    left: 73%;
    top: -7.8rem;
}

.div_presidente {
    padding: 0% 0% 1% 0%;
    display: flex;
    text-align: center;
    background: url(../img/bg_vereadores3.png) no-repeat;
    background-position: center;
    position: relative;
    top: 1rem;
    width: 100%;
    height: 7.2rem;
    flex-direction: column;
    align-items: center;
}

.div_presidente #legis_anter {
    font-size: 0.9rem;
}

.box_presidente {
    width: 30%!important;
    height: 125px;
    background: #fff;
    box-shadow: -1px 1px 5px 1px #dcdce7;
    border-radius: 4px;
    margin: 0% 0% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -15.6%;
    top: -5px;
    z-index: 9999;
}

.presidente{
    display: flex;
}

.presidente img {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
    border: solid 5px #c3c3c3;
    border-radius: 100%;
    overflow: hidden;
    /* transition: .4s cubic-bezier(0.01, 0.02, 0.01, 0.63); */
    left: -5%;
}

.texto_presidente {
    display: block; 
    font-size: 15px;
    color: #64748a;
    padding-bottom: 5px;
    height: auto;
    position: relative;
    top: 1.8rem;
    font-weight: bold;
}

#legis_atual {
    color: #fff;
    max-width: 155px;
    max-height: 70px;
    position: relative;
    left: -17%;
    top: 10px;
    font-weight: bold;
}

#legis_anter {
    color: #fff;
    max-width: 155px;
    max-height: 70px;
    position: relative;
    left: 42%;
    top: 22px;
    font-weight: bold;
    z-index: 9999;
}




/*------INICIO DAS CONFIGURAÇÕES DE REPONSIVIDADE-----*/


@media (max-width: 991px) {


    /*------ACESSO RAPIDO-----*/

    .acess-rapido p{
        margin-top: 0.35%;
        font-size: 0.7rem;
      }

    .acess_rap_btns{
        margin-top: 1%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

    /*------NOTICIAS-----*/


    .box_noticias{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fff;
        width: 20rem;
        height: 40rem;
        border-radius: 25px;
        
    }

    .noticia_destaque {
        height: 16rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 15rem!important;
        margin: 2rem 3rem 3.5rem -0.5rem;
    }

    .noticia_destaque img {
        width: 17rem;
        height: 13rem;
    }

    .img_noticia {
        height: 8rem;
        width: 11rem;
        border-radius: 15px;
        margin: 0rem 1rem 0rem 1rem;
    }


}


