/* --------------CSS PERSONALIDO----------------*/

/*-----NAVBAR-----*/

.navbar-site{
    max-height: 50px;
    background-color: #00486F;
    border-radius: 5px;
}

.ajustes{
    margin: 0% 0% 1.4% 1%;
}

.btn-acess{
    margin-top: -1%;
    color: #fff;
    background-color: transparent;
    max-height: 50px;
    max-width: 50px;
    border-color: #fff;
}

.titulo-acess{
    font-size: 1.1rem;
}


/*------HEADER-----*/

.navbar-header{
    height: 10rem;
}