@charset "utf-8";

/* EDITAIS */
#e_conteudo .e_area_editais {width: 100%; padding: 20px; font-size: 0;}
#e_conteudo .e_area_editais .e_cont_editais {max-height: 250px; overflow-x: hidden; overflow-y: scroll;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital {width: 1135px; width: calc(100% - 5px); height: 70px; background: #fff; border-bottom: solid 1px #e0e8ed; padding: 0 10px; margin-bottom: 5px; transition: .4s ease-out;}
#e_conteudo .e_area_editais .e_cont_editais a:last-child .e_edital {margin-bottom: 0;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital:hover {box-shadow: 0 1px 3px 0 #dcdce7;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_icone_edital {width: 60px; height: 70px; display: inline-block; vertical-align: middle; text-align: center; background: #f8f8f8; font-size: 16px; color: #d3d7db; line-height: 70px;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_icone_edital span {transition: .4s cubic-bezier(0.01, 0.02, 0.01, 0.63);}
#e_conteudo .e_area_editais .e_cont_editais .e_edital:hover .e_icone_edital span {transform: scale(1.1); color: #00adef;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital {width: 890px; width: calc(100% - 200px); display: inline-block; vertical-align: middle;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_titulo_edital {width: 75%; display: inline-block; vertical-align: middle; font-size: 13px; color: #6d7785; padding: 0 20px;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_data_edital {display: inline-block; vertical-align: middle; font-size: 13px; color: #999; padding: 0 20px; border-left: solid 1px #ccc;}
#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_situacao_edital {display: inline-block; vertical-align: middle; padding: 6px 13px; font-size: 10px; color: #fff; text-transform: uppercase; border-radius: 3px;}
/* Setando situações */
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_aberto { background: #03b34e;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_deserto { background: #a0825b;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_fracassado { background: #6a6a69;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_concluido { background: #527ed3;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_anulado { background: #c22b35;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_julgamento { background: #e77800;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_suspenso { background: #d6ab03;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_adjudicado { background: #5ba7e7;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_homologado { background: #527ed3;  }
#e_conteudo .e_area_editais .e_cont_editais .e_edital .ed_situacao_edital_revogado { background: #a2a0a0;  }

@media (min-width: 801px) and (max-width: 1000px) {	
	/* EDITAIS */
	#e_conteudo .e_area_editais .e_cont_editais .e_edital {height: 100px;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_icone_edital {height: 100px; line-height: 100px;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital {width: calc(100% - 190px);}
    #e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_titulo_edital {width: 65%;}
}

@media (max-width: 800px) {	
	/* EDITAIS */
	#e_conteudo .e_area_editais .e_cont_editais .e_edital {height: 140px;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_icone_edital {height: 140px; line-height: 140px;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_titulo_edital {width: 100%; margin-bottom: 5px;}
    #e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_data_edital {border-left: 0;}
}

@media (max-width: 600px) {	
	/* EDITAIS */
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital {width: calc(100% - 70px);}
    #e_conteudo .e_area_editais .e_cont_editais .e_edital .e_situacao_edital {display: none;}
}

@media (max-width: 480px) {	
	/* EDITAIS */
	#e_conteudo .e_area_editais .e_cont_editais .e_edital {height: 160px; padding: 10px;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_icone_edital {display: none;}
	#e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital {width: 100%;}
    #e_conteudo .e_area_editais .e_cont_editais .e_edital .e_info_edital .e_titulo_edital {padding: 0 5px;}
}