@charset "utf-8";

/* GALERIA DE VÍDEOS */
#e_conteudo .e_area_galeria_videos {width: 100%; background: url(../img/bg_videos.jpg) no-repeat; background-color: #fff; background-size: cover; background-position: center; font-size: 0;}
#e_conteudo .e_area_galeria_videos .e_conteudo_interno {padding: 30px 20px;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos {width: 20%; display: inline-block; vertical-align: middle; margin: 0 20px; cursor: pointer;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos {width: 100%; text-align: center; padding: 20px; border-bottom: solid 1px #dadfe3; margin-bottom: 20px;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_img_titulo_videos {width: 75px; height: 75px; margin: 10px auto;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_titulo_v {font-size: 20px; color: #025aab; text-transform: uppercase; letter-spacing: 1px;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_descricao_titulo_v {font-size: 18px; color: #025aab; letter-spacing: 1px;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_descricao_titulo_v span {color: #dd2228;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_link_ver_mais {width: 120px; height: 30px; display: table; background: #d5d9df; border-bottom: solid 1px #cdd2da; border-radius: 15px; text-align: center; margin: 0 auto; transition: transform .3s ease, background .4s ease, border .3s ease;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos:hover .e_link_ver_mais {transform: rotateX(360deg); background: #00adef; border-color: #00adef;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_link_ver_mais span {font-size: 12px; color: #7a8798; text-transform: uppercase; line-height: 28px; transition: .3s ease;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos:hover .e_link_ver_mais span {color: #fff;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_link_ver_mais .fa-angle-double-right {font-size: 16px; position: relative; top: 1px; padding-right: 7px; transition: .3s ease;}
#e_conteudo .e_area_galeria_videos .e_titulo_videos:hover .e_link_ver_mais .fa-angle-double-right {color: #fff;}
#e_conteudo .e_area_galeria_videos .e_cont_videos {width: 76%; display: inline-block; vertical-align: middle; text-align: center; margin: 20px 0;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video {width: 420px; width: calc(50% - 20px); height: 320px; display: inline-block; vertical-align: top; background: #eef1f3; text-align: left; box-shadow: -1px 1px 3px 1px #d7dee4; border-radius: 3px; overflow: hidden; margin-right: 20px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_area_iframe {width: 100%; height: 235px; position: relative; border: solid 5px #fff;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_area_iframe .sw_video_capa {width: 100%; height: 100%; border: 0; margin: 0; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_info_video_destaq {width: 100%; padding: 10px 20px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_info_video_destaq .e_titulo_video_destaq {display: block; font-size: 16px; color: #737e8d;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_info_video_destaq .e_data_video_destaq {display: block; font-size: 11px; color: #00adef; text-transform: uppercase; padding-bottom: 5px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos {width: 50%; max-height: 320px; display: inline-block; vertical-align: middle; overflow-x: hidden; overflow-y: scroll; border-bottom: solid 1px #dadfe3; text-align: left;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp {width: 415px; width: calc(100% - 5px); height: 110px; background: #f0f0f1; border-radius: 3px; overflow: hidden; margin-bottom: 10px; transition: .4s ease-out;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos a:last-child .e_video_comp {margin-bottom: 0;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp:hover {background: #dce4e9;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos a:nth-child(even) .e_video_comp {background: #fff;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos a:nth-child(even) .e_video_comp:hover {background: #dce4e9;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_img_video_comp {width: 170px; height: 100%; display: inline-block; vertical-align: middle; background: #000; border: solid 3px #fff; overflow: hidden;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_img_video_comp img {transition: .4s cubic-bezier(0.01, 0.02, 0.01, 0.63);}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp:hover .e_img_video_comp img {transform: scale(1.1); opacity: 0.8;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_info_video_comp {width: 200px; width: calc(100% - 170px); display: inline-block; vertical-align: middle; padding: 10px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_info_video_comp .e_data_video_comp {display: block; font-size: 11px; color: #00adef; text-transform: uppercase; padding-bottom: 5px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_info_video_comp .e_titulo_video_comp {display: block; font-size: 15px; color: #737e8d;}
/* Trata o layout se houver apenas um registro */
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_video_destaq {width: 75%; height: 420px;}
#e_conteudo .e_area_galeria_videos .e_cont_videos .e_video_destaq .e_area_iframe {height: 350px;}

@media (min-width: 1001px) and (max-width: 1200px) {	
	/* GALERIA DE VÍDEOS */
    #e_conteudo .e_area_galeria_videos .e_cont_videos {width: 75%;}
}

@media (min-width: 801px) and (max-width: 1000px) {	
	/* GALERIA DE VÍDEOS */
	#e_conteudo .e_area_galeria_videos .e_titulo_videos {width: 100%; text-align: center; margin: 0;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos {width: 45%; display: inline-block; vertical-align: middle; border-bottom: 0; padding: 15px; margin-bottom: 0;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_img_titulo_videos {float: left; margin: 0 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_titulo_v {float: left; margin: 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_descricao_titulo_v {float: left; margin: -10px 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_link_ver_mais {display: inline-block; vertical-align: middle;}
    #e_conteudo .e_area_galeria_videos .e_cont_videos {width: 100%;}
}

@media (max-width: 800px) {	
	/* GALERIA DE VÍDEOS */
	#e_conteudo .e_area_galeria_videos .e_titulo_videos {width: 100%; text-align: center; margin: 0;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos {width: 60%; display: inline-block; vertical-align: middle; border-bottom: 0; padding: 15px; margin-bottom: 0;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_img_titulo_videos {float: left; margin: 0 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_titulo_v {float: left; margin: 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_descricao_titulo_v {float: left; margin: -10px 10px;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_link_ver_mais {display: inline-block; vertical-align: middle;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos {width: 100%; text-align: center;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video {width: 85%; height: 370px; margin-right: 0; margin-bottom: 20px;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_area_iframe {height: 300px;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_info_video_destaq {text-align: left;}
    #e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos {width: 100%; text-align: left;}
}

@media (max-width: 600px) {		
	/* GALERIA DE VÍDEOS */
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos {width: 80%;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video {width: 100%;}
    #e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_area_iframe {height: 280px;}
}

@media (max-width: 480px) {	
	/* GALERIA DE VÍDEOS */
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos {width: 100%; padding: 0;}
	#e_conteudo .e_area_galeria_videos .e_titulo_videos .e_cont_titulo_videos .e_img_titulo_videos {margin: 0;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video {height: 330px;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_display_video .e_area_iframe {height: 230px;}
	#e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_img_video_comp {width: 120px;}
    #e_conteudo .e_area_galeria_videos .e_cont_videos .e_playlist_videos .e_video_comp .e_info_video_comp {width: calc(100% - 120px);}
}