@charset "utf-8";

/* GALERIA DE FOTOS */
#e_conteudo .e_area_galeria_fotos {width: 100%; background: #fff; font-size: 0;}
#e_conteudo .e_area_galeria_fotos .e_conteudo_interno {padding: 20px;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal {text-align: center;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal .e_titulo_p {color: #626d7d;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal .e_link_ver_mais {background: #d5d9df; border-bottom: solid 1px #cdd2da;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal:hover .e_link_ver_mais {background: #00adef; border-color: #00adef;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal .e_link_ver_mais span {color: #7a8798;}
#e_conteudo .e_area_galeria_fotos .e_titulo_principal:hover .e_link_ver_mais span {color: #fff;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos {width: 100%; height: auto; margin-bottom: 20px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande {width: 560px; width: calc(50% - 7px); height: 260px; position: relative; display: inline-block; vertical-align: top; border-radius: 3px; overflow: hidden; margin-bottom: 10px; margin-right: 11px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:last-child .e_galeria_grande {margin-right: 0;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_img_galeria_fotos {width: 100%; height: 100%; border-radius: 3px; overflow: hidden;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_img_galeria_fotos img {transition: .4s cubic-bezier(0.01, 0.02, 0.01, 0.63);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande:hover .e_img_galeria_fotos img {transform: scale(1.1);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_info_galeria_fotos {width: 90%; margin: 20px auto; padding: 20px; background: rgba(0,0,0,0.65); border-radius: 5px; transform: translateY(0); transition: .4s ease-out;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande:hover .e_info_galeria_fotos {transform: translateY(-150%);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_info_galeria_fotos .e_data_galeria_fotos {display: block; font-size: 11px; color: #00adef; text-transform: uppercase; letter-spacing: -0.5px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_info_galeria_fotos .e_titulo_galeria_fotos {display: block; font-size: 19px; color: #fff; letter-spacing: -0.5px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena {width: 275px; width: calc(25% - 9px); height: 260px; position: relative; display: inline-block; vertical-align: top; border-radius: 3px; overflow: hidden; margin-bottom: 10px; margin-right: 11px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(3) .e_galeria_pequena {margin-right: 0;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena .e_img_galeria_fotos {width: 100%; height: 100%; border-radius: 3px; overflow: hidden;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena .e_img_galeria_fotos img {transition: .4s cubic-bezier(0.01, 0.02, 0.01, 0.63);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena:hover .e_img_galeria_fotos img {transform: scale(1.1);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena .e_info_galeria_fotos {width: 90%; margin: 20px auto; padding: 15px; background: rgba(0,0,0,0.65); border-radius: 5px; transform: translateY(0); transition: .4s ease-out;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena:hover .e_info_galeria_fotos {transform: translateY(-135%);}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena .e_info_galeria_fotos .e_data_galeria_fotos {display: block; font-size: 10px; color: #00adef; text-transform: uppercase; letter-spacing: -0.5px;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena .e_info_galeria_fotos .e_titulo_galeria_fotos {display: block; font-size: 16px; color: #fff; letter-spacing: -0.5px;}
/* L4 */
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l4 a:nth-child(2) .e_galeria_grande {margin-right: 0;}
/* L5 */
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:nth-child(2) .e_galeria_grande {margin-right: 0;}
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:nth-child(3) .e_galeria_pequena {margin-right: 11px;}
/* L7 */
#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {margin-right: 0;}

@media (min-width: 1001px) and (max-width: 1200px) {	
	/* GALERIA DE FOTOS */
	/* L7 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_grande {height: 200px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_pequena {height: 200px;}	
}

@media (min-width: 801px) and (max-width: 1000px) {	
	/* GALERIA DE FOTOS */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena {width: calc(50% - 7px);}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(3) .e_galeria_pequena {margin-right: 11px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(2) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(4) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena:hover .e_info_galeria_fotos {transform: translateY(-150%);}
	/* L3 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 .e_galeria_pequena {text-align: left;}
	/* L5 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 .e_galeria_pequena {text-align: left;}
	/* L7 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:nth-child(6) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_pequena {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {width: 75%; height: 300px;}		
}

@media (max-width: 800px) {	
	/* GALERIA DE FOTOS */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena {width: calc(50% - 7px);}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(3) .e_galeria_pequena {margin-right: 11px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(2) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(4) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena:hover .e_info_galeria_fotos {transform: translateY(-150%);}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande .e_info_galeria_fotos .e_titulo_galeria_fotos {font-size: 16px;}
	/* L3 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 a:last-child .e_galeria_pequena {width: 100%; height: 350px; text-align: left;}
	/* L5 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 .e_galeria_pequena {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:last-child .e_galeria_grande {width: 100%; height: 350px; text-align: left;}
	/* L7 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:nth-child(6) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 {text-align: center;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_grande {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_pequena {text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {width: 85%; height: 300px;}	
}

@media (max-width: 600px) {	
	/* GALERIA DE FOTOS */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande {height: 200px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena {height: 200px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande:hover .e_info_galeria_fotos {transform: translateY(-135%);}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena:hover .e_info_galeria_fotos {transform: translateY(-135%);}
	/* L3 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 a:last-child .e_galeria_pequena {width: 100%; height: 280px; text-align: left;}
	/* L5 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:last-child .e_galeria_grande {width: 100%; height: 280px; text-align: left;}
	/* L7 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_grande {width: 100%; height: 280px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_pequena {width: 100%; height: 280px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {width: 100%; height: 280px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_grande:hover .e_info_galeria_fotos {transform: translateY(-160%);}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 .e_galeria_pequena:hover .e_info_galeria_fotos {transform: translateY(-160%);}
}

@media (max-width: 480px) {	
	/* GALERIA DE FOTOS */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos {max-height: 430px; overflow-y: scroll; overflow-x: hidden;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_grande {width: calc(100% - 5px); height: 190px; margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos .e_galeria_pequena {width: calc(100% - 5px); height: 190px; margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:nth-child(3) .e_galeria_pequena {margin-right: 0;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos a:last-child .e_galeria_grande {margin-bottom: 0;}
	/* L3 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 a:last-child .e_galeria_pequena {width: calc(100% - 5px); height: 190px; text-align: left;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l3 a:last-child .e_galeria_pequena {margin-bottom: 0;}
	/* L5 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:last-child .e_galeria_grande {width: calc(100% - 5px); height: 190px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l5 a:last-child .e_galeria_grande {margin-bottom: 0;}
	/* L7 */
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {width: calc(100% - 5px); height: 190px;}
	#e_conteudo .e_area_galeria_fotos .e_cont_galerias_fotos_l7 a:last-child .e_galeria_pequena {margin-bottom: 0;}	
}