@charset "utf-8";

/* PROPOSITURAS */
#e_conteudo .e_area_proposituras {width: 100%; padding: 20px; font-size: 0;}
#e_conteudo .e_area_proposituras .e_cont_proposituras {width: 270px; width: calc(25% - 15px); height: 330px; position: relative; display: inline-block; vertical-align: top; background: #fff; border-radius: 4px; overflow: hidden; margin-right: 20px;}
#e_conteudo .e_area_proposituras .e_cont_proposituras:last-child {margin-right: 0;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_topo_propositura {width: 100%; height: 50px; background: #00adef; border-bottom: solid 2px #0299d3;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_topo_propositura .e_icone_propositura {width: 50px; height: 50px; display: inline-block; vertical-align: middle; background: #0299d3; text-align: center; font-size: 17px; color: #8fdffe; line-height: 50px;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_topo_propositura .e_tipo_propositura {width: 220px; display: inline-block; vertical-align: middle; font-size: 14px; color: #fff; text-transform: uppercase; letter-spacing: -0.5px; padding-left: 20px;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras {width: 100%; height: 240px;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop {max-height: 240px; overflow-x: hidden; overflow-y: scroll;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop .e_propositura {width: 100%; background: #fff; padding: 10px; transition: .4s ease-out;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop a:nth-child(even) .e_propositura {background: #f8f8f8;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop .e_propositura:hover {background: #eaf0f4;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop a:nth-child(even) .e_propositura:hover {background: #eaf0f4;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop .e_propositura .e_nome_propositura {width: 210px; width: calc(100% - 35px); display: inline-block; vertical-align: middle; font-size: 12px; color: #888; text-transform: uppercase; padding-left: 10px;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop .e_propositura .fa-plus {font-size: 13px; color: #b6bece; display: inline-block; vertical-align: middle; padding-left: 15px; transition: .4s ease-out;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop .e_propositura:hover .fa-plus {color: #00adef;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_footer_proposituras {width: 100%; height: 40px; position: absolute; left: 0; bottom: 0; background: #d5dadf; text-align: center; font-size: 13px; color: #7a8798; text-transform: uppercase; letter-spacing: -0.5px; border-bottom: solid 1px #cad0d8; padding: 13px 0; transition: .3s ease-out;}
#e_conteudo .e_area_proposituras .e_cont_proposituras .e_footer_proposituras:hover {background: #0299d3; color: #fff; border-bottom-color: #0299d3;}

@media (min-width: 1001px) and (max-width: 1200px) {
	/* PROPOSITURAS */
	#e_conteudo .e_area_proposituras .e_cont_proposituras {width: calc(50% - 10px); height: 255px; margin-bottom: 20px;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras:nth-child(3) {margin-right: 0;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras {height: auto;}
    #e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop {max-height: 165px;}
}

@media (min-width: 801px) and (max-width: 1000px) {	
	/* PROPOSITURAS */
	#e_conteudo .e_area_proposituras .e_cont_proposituras {width: calc(50% - 10px); height: 255px; margin-bottom: 20px;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras:nth-child(3) {margin-right: 0;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras {height: auto;}
    #e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop {max-height: 165px;}
}

@media (max-width: 800px) {	
	/* PROPOSITURAS */
	#e_conteudo .e_area_proposituras .e_cont_proposituras {width: calc(50% - 10px); height: 255px; margin-bottom: 20px;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras:nth-child(3) {margin-right: 0;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras {height: auto;}
	#e_conteudo .e_area_proposituras .e_cont_proposituras .e_corpo_proposituras .e_cont_corpo_prop {max-height: 165px;}
    #e_conteudo .e_area_proposituras .e_cont_proposituras .e_topo_propositura .e_tipo_propositura {width: calc(100% - 60px);}
}

@media (max-width: 600px) {		
	/* PROPOSITURAS */
    #e_conteudo .e_area_proposituras .e_cont_proposituras {width: 100%; margin-right: 0;}
}