/*------GALERIA DE VIDEOS-----*/

.videos_titulo{
    margin-top: 7%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.videos_titulo:hover{
    max-width: 100%;
    font-size: 1.6rem;
    padding-top: 0.2%;
    color: #1675a8;
    transition: 0.6s;
}

.box_videos {
    display: flex;
    height: auto;
    padding: 2rem 0rem 0rem 1rem;
    margin: 0% 0% 0% -1%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.div_videos{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: 1rem;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.titulo_vid_d {
    position: relative;
    width: 75.4%;
    height: 13%;
    background-color: #00486f;
    left: 0.9%;
    top: -1.9%;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    padding-top: 2%;
}

.titulo_vid {
    position: relative;
    width: 89.6%;
    height: 20%;
    background-color: #00486f;
    left: 5.4%;
    top: -2.9%;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #fff;
    font-weight: bold;
    padding-top: 1.55%;
}

.titulo_vid_d:hover{
    background-color: #025c8d;
}

.titulo_vid:hover{
    background-color: #025c8d;
}

.video_destaque {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0% 0% 0% 1%;
}

.video_destaque p {
    font-size: 1rem;
}

.video_padrao {
    background-color: #fff;
    height: 14rem;
    width: 19.5rem!important;
    transition: 0.7s;
}

.video_padrao p{
    font-size: 0.7rem;
}

.video_d {
    border-radius: 5px 5px 0px 0px;
    margin: 1.5% 0% 0% -23%;
}

.video_p {
    border-radius: 5px 5px 0px 0px;;
}

.texto_video {
    font-size: 0.9rem;
    display: flex;
    height: 18.5rem;
    position: absolute;
    top: 1.5rem;
    left: 32rem;
    text-align: justify;
    text-decoration: none!important;
    max-width: 58% !important;
}

.cont_lendo_v {
    width: 22%;
    height: 10%;
    background-color: #00486f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    position: absolute;
    top: 90%;
    left: 78%;
}