@charset "utf-8";

/* BANNER */
#e_conteudo .p_area_banner { width: 100%; margin: auto; position: relative; z-index: 1; overflow: hidden;}
#e_conteudo .p_area_banner [id^="wowslider"] { border: 0 !important; }
/* #e_conteudo .p_area_banner img { height: 100% !important; vertical-align: top; }
#e_conteudo .p_area_banner .ws_images img { height: auto !important; } */

#e_conteudo .p_area_banner img { vertical-align: top; }
#e_conteudo .p_area_banner .ws_images img { height: auto !important; }
#e_conteudo .p_area_banner .ws_bullets img { height: 100% !important; }