:root{
    --cor-primaria: #00486F;
    --gradiente-veradores: linear-gradient(160deg, rgba(0,72,111,1) 0%, rgba(255,255,255,1) 55%);
    --sombra: rgba(0, 0, 0, 0.35) 0px 5px 15px;

} 

.pagina_noticias_titulo{
    margin: 3% 0% 2% 0%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
}

.pagina_noticias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.noticias {
    background-color: #fff;
    width: 250px !important;
    height: 300px;
    margin: 2% 2% 3% 0%;
}

.noticias:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.img_noticias {
    width: 250px;
    height: 200px;
}

.titulo_noticias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 14%;
    font-size: 0.9rem;
    color: #000;
    font-weight: bold;
}