.cor_topo {background-color:#035496; border-bottom:1px solid #004A86; border-top-left-radius:4px; border-top-right-radius:4px; border-top:3px solid #003466;	}
.cor_rodape {background-color:#035496; padding:10px 0 10px 0; border-bottom-left-radius:4px; border-bottom-right-radius:4px; border-bottom:4px solid #003466;border-top:2px solid #003466;	}
.cor_menu {background-color:#035496;border-top:1px solid #00488F;}
.color_busca_botao {background-color:#035496;border-left:1px solid #043964;border-right:1px solid #035496;border-bottom:1px solid #035496;border-top:1px solid #035496;}
h5 {font-family: sans-serif; font-size:12px; font-weight:100; color:#FFF; text-align:center;}
