@charset "utf-8";
/* ESTE ARQUIVO É PERSONALIZADO */

/* Cor da fonte da enquete */
.cor_enquete {
	color:#135F81;
}

.cor_link {
	color:#000;
}

.titulo_principal_interna {
	font-family: 'facebook_letter_facesregular';
	color:#003662;
	font-size:22px;	
	text-transform:uppercase;
}

.frase_principal_interna {
	font-family: 'proxima_nova_rgregular';
	color:#003662;
	font-size:13px;
	text-transform:uppercase;	
}

.color_botao_enviar_crian {
	font-family: 'proxima_nova_rgregular';
	color:#FFF;
	font-size:13px;
	background-color:#036;
	border-radius:4px;
	text-align:center;
	padding-top:9px;
		
}

.pergunta_criacao_form_interna {
	font-family: 'proxima_nova_rgregular';
	color:#003662;
	font-size:13px;
	margin-top:10px;
	margin-bottom:5px;	
}

.frase_principal_interna_siccam {
	font-family: 'proxima_nova_rgregular';
	color:#003662;
	font-size:14px;	
	float:left;
	margin-top:20px;
}


.font_titulo_noticia {
	float:left;
	margin-top:5px;
	text-align:center;
	font-family: 'proxima_nova_rgregular';
	color:#036;
	font-size:18px;
		
}

.font_descricao_noticia {
	float:left;
	margin-top:3px;
	text-align:justify;
	font-family: 'proxima_nova_rgregular';
	color:#333;
	font-size:13px;
}

.saibamais_interna {
	float:right;
	margin-top:5px;
	text-align:right;
	font-family: 'proxima_nova_rgregular';
	color:#090;	
	font-size:12px;
	text-decoration: underline;
}

.border_radius6 {
	border-radius:6px;	
}

.border_1_cor_cinza {
	border:1px solid #EBEAE8;	
}

.background_azul_claro {
	background-color:#F1F8FE;	
}

.borda_azul_claro {
	border:1px solid #F1F8FE;	
}


.font_data_noticia_retangulo {
	background-color:#090;
	border-radius:4px;
	margin-top:2px;
	text-align:center;
	color:#FFF;
	padding-top:3px;
	font-size:17px;
	margin-right:10px;
	font-family: 'proxima_nova_rgregular';
}

.position_ab {
	position:absolute;
	margin-top:120px;	
} 

.background_borda_busca {
	border-bottom: 5px solid #0C3;
	background-color: #036;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}

.busca_detalhada {
	font-family: 'proxima_nova_rgregular';
	color:#FFF;
	font-size:13px;	
}


.nome_busca_detalhada {
	font-family: 'proxima_nova_rgregular';
	color:#036;
	font-size:13px;	
}

.botao_back_borda {
	background-color:#036;
	border:1px solid #036;
	color:#FFF;
	margin-top:15px;
	font-size:13px;
}

.retangulo_borda_back {
	border: 2px solid #036;
	background-color:#F9FCFF;
	font-family: 'proxima_nova_rgregular';
}

.nome_leis_decretos_interna {
	color:#036;
	font-family: 'proxima_nova_rgregular';
	font-size:14px;
	margin-top:2px;
}

.data_leis_decretos_interna {
	color:#090;
	font-family: 'proxima_nova_rgregular';
	font-size:13px;
}

.descricao_leis_decretos_interna {
	color:#333;
	font-family: 'proxima_nova_rgregular';
	font-size:13px;
	margin-top:2px;
	margin-top:10px;
	text-align:justify;
}


.login_entrar_interna {
	color:#FFF;
	font-family: 'proxima_nova_rgregular';
	font-size:13px;
	text-align:center;
	background-color:#036;
	border-radius:6px;
	border:1px solid #FFF;
	margin-bottom:10px;
}


.fundo_turismo_interna {
	background-color:#036;	
	text-align:center;
	color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
	font-size:13px;
	font-family:Tahoma, Geneva, sans-serif;
}

.fundo_telefones_interna {
	background-color:#004F9D;
	border-radius:6px;
	float:left;
}

.font_telefone_uteis {
	font-family: 'facebook_letter_facesregular';
	float:left;
	color:#FFF;	
	margin-top:10px;
	font-size:15px;
}


.font_telefone_interna_cor {
	font-family: 'proxima_nova_rgregular';
	float:left;
	color:#27D873;	
	margin-top:-3px;
	font-size:21px;
}

.back_font_download {
	font-family: 'proxima_nova_rgregular';
	float:left;
	color:#FFFFFF;	
	background-color:#005CB1;
	border-radius:6px;
	font-size:13PX;
}


.font_download_interna {
	color:#00D5D5;	
}



.back_font_color_contato_interna {
	background-color:#004891;
	color:#FFF;
	border-radius:6px;	
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
}

.formulario_titulo_contato {
	font-size:16px;
	color:#0C9;
	font-size:21px;
	margin-bottom:-20px;
}


.border_radius_contato {
	border-radius:6px;
	border:1px solid #FFF;	
}

.border_back_color {
	background-color:#036;
	border-radius:6px;
	color:#FFF;	
	border:1px solid #FFF;
}


.font_contato_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:15px;	
	text-align:justify;
}

.cor_localizacao_atendimento {
	color:#0C6;	
}

.border_back_emprega {
	border:1px solid #CCC;
	background-color:#F7F7F7;
	float:left;
	color:#036;
	border-radius:6px;	
	padding:20px;
	font-family: 'facebook_letter_facesregular';
	font-size:21px;
}


.borda_emprega_interna {
	border:2px solid #036;	
	border-radius:8px;	
	background-color:#EAF4FF;
}

.emprega_login_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
	color:#333;	
	margin-top:15px;
}

.back_border_cor {
	background-color:#036;
	border:1px solid #FFF;
	border-radius:6px;
	color:#FFF;	
}

.back_font_border_cor_jornal {
	background-color:#00335E;
	font-family: 'proxima_nova_rgregular';	
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom:6px solid #08A54E;
	color:#fff;
}

.cor_data_jornal_interna {
	font-size:13px;	
	color:#00FF00;
}

.input_sic_interna {
	background-color:#F2F5FA;
	float:left;
	border:1px solid #CDCED2;
	border-radius:4px;
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
	color:#036;
}

.input_interna_formulario {
	background-color:#DFEFFF;
	float:left;
	border:1px solid #FFF;
	border-radius:6px;
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
	color:#036;
	margin-top:20px;
	margin-bottom:10px;
}

.font_sic_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
	margin-top:20px;
	float:left;	
}

.input_sic_interna_formulario {
	background-color:#DFEFFF;
	border:1px solid #FFF;
	border-radius:4px;
	color:#036;
	margin-top:20px;
	margin-bottom:10px;
	float:left;
}

.input_criacao_formulario {
	background-color:#FFFFFF;
	border:1px solid #E4E4E4;
	border-radius:4px;
	color:#036;
	margin-top:20px;
	margin-bottom:10px;
	float:left;
}

.back_border_sic {
	background-color:#036;
	border-radius:4px;
	border:1px solid #FFF;
	text-align:center;
	color:#FFF;	
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
}

.font_nome_sic_interna {
	color:#333;	
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	margin-left:5px;
	float:left;
}
	
.font_nome_sic_interna_cor {
	color:#039;	
	font-family: 'proxima_nova_rgregular';	
	font-size:16px;
	margin-left:5px;
	float:left;
}
	
.data_menu_interna_busca {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	color:#666;
	float:left;	
}

.data_menu_interna_busca_titulo {
	font-family: 'proxima_nova_rgregular';	
	font-size:15px;
	color:#036;
	float:left;	
	font-weight:bold;
}

.font_back_busca_interna {
	background-color:#EAF4FF;
	border-radius:6px;
	font-family: 'proxima_nova_rgregular';	
}

.font_resultado_interna_busca {
	text-align:center;
	font-size:22px;	
	color:#036;
}


.font_resultado_interna_busca_pequena {
	text-align:center;
	font-size:12px;	
	color:#036;
}

.cor1 {
	color:#004891;	
}

.cor2 {
	color:#333;	
}

.cor3 {
	color:#999;	
}

.fonte_pequena {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
}

.fonte_media {
	font-family: 'proxima_nova_rgregular';	
	font-size:16px;	
}


.fonte_grande {
	font-family: 'proxima_nova_rgregular';	
	font-size:21px;	
}

.facebook_pequena {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
}

.facebook_media {
	font-family: 'proxima_nova_rgregular';	
	font-size:16px;	
}


.facebook_grande {
	font-family: 'proxima_nova_rgregular';	
	font-size:21px;	
}

.background_fundo {
	background:#D7EBFF;	
}

.borda1 {
	border:1px solid #00376F;	
}

.border_radius {
	border-radius:6px;	
}

.back_color_botao_interna_pagina {
	background-color:#EBEBEB;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom:4px solid #B1B1B1;
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;	
	color:#036;
	text-align:center;
	padding-top:8px;	
}

.marg_galeria_fotos_interna_pequena {
	margin-right:18px;
	margin-bottom:15px;	
}


.marg_galeria_fotos_interna {
	margin-right:26px;
	margin-bottom:15px;	
}

.botao_emprega_empresa_interna {
	background-color:#E3262A;
	border-radius:6px;
	color:#FFF;
	text-align:center;
	font-family: 'proxima_nova_rgregular';	
	font-size:14PX;
	cursor:pointer;
}


.botao_emprega_empresa_interna_candidato {
	background-color:#033D65;
	border-radius:6px;
	color:#FFF;
	text-align:center;
	font-family: 'proxima_nova_rgregular';	
	font-size:14PX;
	cursor:pointer;
}

.font_botao_emprega_interna {
	color:#FFF;
	font-size:22px;	
	margin-top:15PX;
	margin-bottom:-15PX;
	font-family: 'facebook_letter_facesregular';
}

.cont_paginacao_interna {
	width:240px;
	float:left;	
	margin-top:20px;
	margin-left:350px;
}

.fd_paginaca_enfeite {
	width:930px;
	height:12px;
	float:left;
	margin-top:30px;
	background:url(../img/fd_busca.jpg) repeat-x;	
}

.anterior_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:14PX;
	padding:5px;
	width:65px;
	height:18px;
	border-radius:4px;
	border:1px solid #E4E4E4;
	float:left;
	background: #fdfdfd; /* Old browsers */
	background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f0f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f0f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f0f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f0f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f0f1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fdfdfd 0%,#f2f0f1 100%); /* W3C */
}

.anterior_interna:hover {
	background: #09406b; /* Old browsers */
	background: -moz-linear-gradient(top,  #09406b 0%, #062f50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#09406b), color-stop(100%,#062f50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #09406b 0%,#062f50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #09406b 0%,#062f50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #09406b 0%,#062f50 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #09406b 0%,#062f50 100%); /* W3C */
	
	border:1px solid #E4E4E4;
	color:#FFF;
}

.paginas_interna {
	float:left;
	margin-left:5px;
	margin-right:5px;
	height:30px;
	border-radius:4px;	
	border:1px solid #E4E4E4;
}


/* LEIS E DECRETOS */

.font_nome_leis_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:14px;
	color:#003366;
	float:left;
}

.font_descricao_leis_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:14px;
	color:#6f6f6f;
	float:left;
}

.font_botao_interna_leis {
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	color:#FFF;
	float:left;	
}

.back_fundo_botao_interna_leis {
	background-color:#04416d;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.back_fundo_botao_interna_leis_download {
	background-color:#057e24;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.font_lei_data_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	color:#003366;
	float:left;
	margin-top:10px;	
	font-weight:bold;
}

.font_lei_n_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	color:#00a747;
	float:left;
	margin-top:10px;	
	font-weight:bold;
	margin-right:10px;
}

.font_links_uteis_interna {
	font-family: 'proxima_nova_rgregular';	
	font-size:14px;
	color:#0C6;
	float:left;
	text-align:center;	
	margin-top:5px;
}

.font_links_uteis_interna_descricao {
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	color:#FFF;
	float:left;
	text-align:center;	
	margin-top:5px;
}

.back_color_botao_acessar {
	background-color:#036;	
	border:1px solid #00C;
	text-align:center;
	color:#FFF;
	font-family: 'proxima_nova_rgregular';	
	font-size:13px;
	padding-top:10px;
}

.nome_campo_formulario_font {
	font-family: 'proxima_nova_rgregular';
	color:#036;
	font-size:13px;	
	margin-bottom:-22px; 
	margin-top:20px;
}

.fisica_juridica_login {
	font-family: 'proxima_nova_rgregular';
	color:#003662;
	font-size:13px;
	float:right;
}

.font_botao_editais_interna_empresa {
	color:#FFF;
	font-size:22px;	
	margin-top:8PX;
	margin-bottom:-15PX;
	font-family: 'facebook_letter_facesregular';
}

.botao_editais_fundo_font_interna {
	background-color:#0057AE;
	border-radius:6px;
	color:#FFF;
	text-align:center;
	font-family: 'proxima_nova_rgregular';	
	font-size:14PX;
}

.moldura {
	text-decoration: none;
	width:144px;
	height:189px;
	padding:13px 17px;
}

.dentro-moldura {
	width:145px;
	height:188px;
	overflow:hidden;
}

.fundo_galeria_prefeitos_interna {
	background-color:#036;	
	text-align:center;
	color:#FFF;
	padding-top:10px;
	font-size:15px;
	padding-right:4px;
	padding-left:4px;
	padding-bottom:10px;
	font-family: 'proxima_nova_rgregular';
}

.galeria_prefeitos_atual {
	background:url(../imginternas/icon_data.png);
	width:180px;
	height:36px;
	position:absolute;
	float:left;	
	margin-left:-15px;
	margin-top:-10px;
	font-size:13px;
	font-family: 'facebook_letter_facesregular';
	color:#FFF;
	text-align:center;
}

.texto_sic_protocolos {
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;	
	float:left;
	color:#036;
	margin-top:12px;
}


.texto_sic_protocolos_dois {
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;	
	margin-top:12px;
	float:left;
}

.texto_sic_protocolos_assunto {
	font-family: 'proxima_nova_rgregular';	
	font-size:14px;	
	margin-top:15px;
}

.nivel_cor_vermelho {
	color:#F00;	
}

.nivel_cor_azul {
	color:#096;	
}

.pergunta_sic {
	background: #C4FFD2;
	color:#333;	
}

.resposta_sic {
	color:#333;
	background:#AAD5FF;	
}

.sic_solicitacao_cor {
	background-color:#F2F5FA;
	border-bottom:1px solid #D8D9DD;
	border-top:1px solid #D8D9DD;	
}

.resposta_sic_cor {
	background-color:#D9FFC6;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;	
}

.cont_editor_emprega_cor {
	background:#EEE;	
}

.cont_galeria_imagem_pagina_interna_cor {
	border:3px solid #AED7FF;
	background-color:#AED7FF;	
}

.emprega_menu_cor {
	background-color:#036;
	border-bottom:5px solid #096;	
}

.sic_menu_cor {
	background-color:#036;
	border-bottom:5px solid #096;
	font-family: 'proxima_nova_rgregular';
	font-size:15px;	
}

.cor_botao_replica_interna {
	background-color:#036;
	border-radius:4px;
	color:#FFF;
	font-family: 'proxima_nova_rgregular';	
	font-size:14px;
	text-align:center;	
}


.balao_pergunta_cor {
	background-color:#D7EBFF;
	font-family: 'proxima_nova_rgregular';
	border-radius: 14px;
	font-size:13px;	
	padding:15px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
}

.balao_resposta_cor {
	background-color:#CCFFE6;
	font-family: 'proxima_nova_rgregular';
	border-radius: 14px;
	font-size:12px;	
	padding:15px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;	
}

.botao_expirada_cor {
	background-color:#C30;
	color:#fff;
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	text-align:center;	
	border-radius:4px;			
}

.botao_respondido_cor {
	background-color:#096;
	color:#fff;
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	text-align:center;	
	border-radius:4px;			
}


.botao_aberto_cor {
	background-color:#06C;
	color:#fff;
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	text-align:center;	
	border-radius:4px;			
}


.botao_aguardando_cor {
	background-color:#F60;
	color:#fff;
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	text-align:center;	
	border-radius:4px;			
}

.botao_finalizado_cor {
	background-color:#036;
	color:#fff;
	font-family: 'proxima_nova_rgregular';	
	font-size:12px;
	text-align:center;	
	border-radius:4px;		
}


.botao_resolvido_cor {
	background-color:#096;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;	
	font-size:12px;
	text-align:center;	
	border-radius:4px;
}

.botao_proximo_nivel_cor {
	background-color:#069;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;	
	font-size:12px;
	text-align:center;	
	border-radius:4px;
}

.botao_reclamar_cor {
	background-color:#B90000;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;	
	font-size:12px;
	text-align:center;	
	border-radius:4px;		
}



/* CONT GALERIA DE FOTOS */

.cor_galeria {
	background-color:#036;
	float:left;
	border-radius:4px;
}

.titulo_galeria_interna {
	font-family: 'proxima_nova_rgregular';
	font-size:14px;
	color:#FFF;
	float:left;	
	font-weight:bold;
}

.data_galeria_interna {
	font-family: 'proxima_nova_rgregular';
	font-size:13px;
	color:#0CF;
	float:left;	
	margin-top:10px;	
}

.ver_mais_galeria_interna {
	font-family: 'proxima_nova_rgregular';
	font-size:11px;
	color:#09C;
	float:left;	
	margin-top:10px;
}


/* FIM CONT GALERIA DE FOTOS */