/*COR DO FUNDO*/
.cor_fundo1 {background-color:#F9F9F9;}
.cor_fundo2 {background-color:#0069cb;}

/*COR DE FONTES*/
.cor1 {color:#515151;}
.cor2 {color:#BFBFBF;}
.e_cor_fundo_m {width:100%; float:left; border-top:2px solid #004074;}
/*TAMANHO DE FONTES*/
.size11 {font-size:11px;}
.size12 {font-size:12px;}
.size13 {font-size:13px;}
.size14 {font-size:14px;}
.size15 {font-size:15px;}
.size16 {font-size:16px;}
.size18 {font-size:18px;}

/*ESTILO DE FONTES*/
.bold_ubun {font-family: 'ubuntubold';}
.light_ubun {font-family: 'ubuntulight';}
.light_ubun {font-family: 'ubuntumedium';}
.regular_ubun {	font-family: 'ubunturegular';}

/*ESTILO DE FONTES*/
.texto_centro { text-align:center;}
.texto_left { text-align:left;}
.texto_right { text-align:right;}
.texto_up {text-transform:uppercase;}

.infos {font-family: sans-serif; font-size:12px; font-weight:100; color:#FFF; text-align:center;}
.pergunta_interna_enquete {font-size:20px; margin-bottom:15px; color:#0069CB; float:left;letter-spacing:-0.20px; font-weight:bold; width:100%;  font-family: 'open_sansbold';}
.icone_resultado_enquete {float:right;  border-radius:25px; font-size:12px; text-align:center; color:#FFF;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}
.votar_enquete_interna {float:left; margin-top:15px; padding:5px 15px; border-radius:25px; background-color:#005AAF; font-size:12px; text-align:center; color:#FFF;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}
.barra .cor_barra { background:#0069CB;border-color:#005AAF;}

.titulo_interna {color:#868686;text-align:left;font-size:18px;width:100%;float:left;font-family: 'open_sanslight';}
.enfeite_titulo_interna {color:#868686; padding:8px 0;border-top:1px solid #E9E9E9; border-bottom:1px solid #E9E9E9; text-align:left; font-size:11px; margin-bottom:15px; margin-top:10px; width:100%; float:left;font-family: 'ubunturegular';}
.cor_titulo_principal {	color:#09A6D5;}
.icones {float:left;margin-right:5px;margin-top:-2px;}
.float_left_interna {float:left;}
.e_top10 {margin-top:10px;}

#busca input[type="search"] {width:98%; margin-bottom:17px; text-indent:10px; margin-left:1%; font-size:11px;font-family: sans-serif; border-radius:2px; background-color:#FFF; padding:8px 0;outline:none;border:1px solid #FFF;}

#busca input[type="button"] {width:98%; margin-bottom:17px; text-indent:10px; margin-left:1%; font-size:11px;font-family: sans-serif; border-radius:2px; background-color:#FFF; padding:8px 0;outline:none;border:1px solid #FFF;}

.border_servico {border:2px solid #1162ad;}



.cor_prefeitura_atual {background-color:#134E84;}
.cor_prefeito_anterior {background-color:#CADCED;}
.cor_modelo_funcionario { background-color:#1162ad;}

/*BUSCA*/
#menu_busca ul li a:hover {	color: #6D6D6D;	border-bottom:3px solid #103E64;}
.data_interna_busca {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:11px; color:#6A6A6A; float:left;}
.titulo_interna_busca {width:100%; margin-top:8px; font-family: 'ubunturegular'; text-align:left;  font-size:12px; color:#3E3E3E; float:left;}
.descricao_interna_busca {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:11px; color:#6A6A6A; float:left;}
.resultado_busca_interna {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:13px; color:#6A6A6A; float:left;}
/*FIM BUSCA*/

.titulo_transp {float:left; width:70%; font-family: 'open_sanslight'; font-size:19px; color:#393939;}
.descricao_transp {float:left; width:70%; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:13px; color:#747474;}
.descricao_botao_acesso {text-align:center;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:13px; color:#747474; }
.icone_acesso {text-align:center; margin-bottom:5px; color:#515151; font-size:30px;}
.botoes_acesso {width:22%; margin-right:1%; margin-top:1%;text-align:center; text-decoration:none; border:1px solid #E5E5E5; float:left; border-radius:10px; margin-top:15px; font-family: Helvetica, Arial, sans-serif; padding:10px 5px;}
.botoes_acesso a {text-decoration:none; color:#606060;font-size:14px;}

.acessar {text-decoration:none;color:#606060;font-size:11px; padding:5px 0; font-weight:bold; background-color:#DCDCDC; border-radius:25px; margin-top:5px;}

.info_trans { margin-left:10px; width:90%;}





.info_trans a { color:#4B4B4B;}

.color_info_trans {background-color:#F3F3F3; margin-top:20px; width:97%; padding:10px; float:left; border-radius:4px;}


.titulo_presidente_interna {font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;font-size:15px; font-weight:bold; margin-top:25px; }
.mandato {font-family:Segoe, sans-serif; float:left; font-size:11px; color:#FFF; background-color:#0261C4; text-align:center; padding:5px; margin-bottom:15px; border-radius:2px; }
.partido {font-family:Segoe, sans-serif; margin-bottom:10px; float:left; font-size:11px; color:#AAAAAA; background-color:#FFF; border:1px solid #DBDBDB; border-radius:25px; text-align:left; padding:3px 15px; }
.titulo_mesa {font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;font-size:20px; font-weight:bold; margin-top:25px; }
.descricao_mesa {font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;font-size:12px; margin-top:5px; }
.mandato_bienio {font-family:Segoe, sans-serif; margin-top:15px; float:left; font-size:11px; color:#FFF; background-color:#0261C4; text-align:center; padding:7px; border-radius:2px;}
.header_mantado { border:1px solid #D0D0D0; padding:5px 15px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:12px; }
.mantado_selecao {width:100%; margin-top:20px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;float:left; font-size:11px;  color:#808080;}

.botao_vereadores { padding: 7px 15px;height: 18px;margin-right:8px;background-color: #094DAA;float: left;border-bottom: 3px solid #063A80;text-align: center;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size: 13px;margin-bottom: 5px;color: #FFF; border-radius:25px; }




.cont_modelo_interna_edital {width:96%; margin-top:10px; margin-bottom:2%; padding:0 0 0 10px ; margin-left:1%; float:left; }
.icone_interna_edital {color:#0091E1;}
.titulo_edital_interna { width:100%; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;font-size:16px; color:#323232;}
.info_edital_interna {width:70%;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; text-align:left; font-size:13px; color:#838383;}
.descricao_edital_interna {width:100%; margin-top:15px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:13px; color:#838383;}
.modelo_interna_edital {width:97%; margin-top:10px; margin-left:5px; background-color:#fff; border:1px solid #DBDBDB; float:left; border-radius:10px;}
.padding {float:left; padding:10px;}
.bt_download_interna_edital {float:left; margin-top:20px; border-radius:4px; background-color:#EBB500; margin-right:10px; color:#FFF;  font-size:13px; font-family: 'ubunturegular'; padding:7px 10px;}
.bt_download_cadastro {float:left; margin-top:20px; border-radius:4px; background-color:#0081EC; margin-right:10px; color:#FFF;  font-size:13px; font-family: 'ubunturegular'; padding:7px 10px;}
.cont_opc_edital {width:97%; border-bottom:1px solid #E5E5E5; margin-top:6px; margin-left:1%; padding:8px 5px; color:#707070; float:left; font-family: 'ubunturegular';font-size:15px;  background-color:#FFF; text-align:left;}

.opc_edital {width:97%; float:left; margin-bottom:10px; margin-left:1%; text-align:left; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-size:12px; color:#525252; }

.contencao_opcoes {width:97%;float:left; padding:8px 15px; margin-top:10px; border-radius:10px;  border:1px solid #E5E5E5;}
.contencao_opcoes_horario {width:100%;float:left; }

.vermelho_destaque {color:#C10003; width:70%; text-align:left; margin-top:5px; font-size:15px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-weight:bold;}
.download_arquivo_edt { border-radius:4px; margin-top:-15px; margin-bottom:5px; float:right; color:#FFF; width:20px; padding:25px;  background-color:#0086D0; text-align:center;}
.icone_opc {float:right; margin-right:1%;}
.descricao_edt_interna {width:80%; float:left;}
.data_edital_interna {width:70%;font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; text-align:left; font-size:12px; color:#838383;}



.cor_projeto {background-color:#FFF; color:#6C6C6C; border:2px solid #1169B9;}
.cor_projeto:hover {background-color:#1169B9; color:#FFF; border:2px solid #FFF;}
.data_projeto { font-size:12px; font-weight:bold; text-align:center; width:100%; float:left; font-family:Segoe, "Segoe UI", "Trebuchet MS", Verdana, sans-serif;}
.titulo_projeto {font-size:13px; height:50px; padding:0 10px;  font-family: 'ubunturegular';}


.horario_transmissao {background-color:#1169B9;border-radius:4px; margin:8px auto; padding:5px 15px; color:#FFF; text-align:center; font-family: 'ubunturegular';font-size:12px; }
.icone_tv {width:100%; text-align:center; color:#1169B9; font-size:55px; }
.cor_tv {background-color:#FFF;  font-family: 'ubunturegular';font-size:13px; color:#6C6C6C; border:1px solid #E3E3E3;}
.cont_100_mobile {width:100%; float:left;}
.cor_vereador {background-color:#1169B9; margin-top:-3px; width:100%; padding:5px 0; color:#FFF; float:left; text-align:center; border-bottom:2px solid #085193;}


/*TELEFONES */
.titulo_telefone_uteis_interna {width:100%; font-family: 'ubunturegular'; text-align:center; height:33px; font-size:12px;float:left;}
.cont_modelo_telefone_botao {width:96%;float:left;height:25px;margin-left:2%;margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:16px;color:#FFF;text-align:center;padding-top:7px;	background-color:#1162ad;}
.color_modelo_telefone {border:2px solid #1162ad;}
/*FIM TELEFONES */

.botao_sic_mensagem {float:left; padding:5px 30px; border-radius:20px; background-color:#144D82; color:#FFF; font-size:12px;  font-family: 'ubunturegular';text-align:center;  }

.texto_sic_protocolos {float:left;text-align:left; font-size:12px; font-family: 'ubunturegular';}
.tamanho_itens_sic {width:18%; float:left; padding:5px 0;}
.tamanho_itens_sic_botao {float:left; margin-top:-9px; }
.sic_solicitacao {border:1px solid #E3E3E3; background-color:#fff; border-radius:4px; float:left; width:94%; margin-bottom:10px; padding:10px;}
.icone_menu_topo {float:right; color:#FFF;  font-size:16px; margin-right:10px; margin-top:15px;}
.info {float:right;}
.botao_respondido_cor {text-align:center; text-transform:uppercase;border-radius:25px; font-size:11px;  font-family: 'ubunturegular'; padding:5px 15px; background-color:#36B111;color:#FFF;}

.botao_aberto_cor {text-align:center; margin-top:10px; text-transform:uppercase;border-radius:25px; font-size:11px;  font-family: 'ubunturegular'; padding:5px 15px; background-color:#00C9A1;color:#FFF;}

.balao_pergunta_cor {background-color:#D3FFDE;font-family:sans-serif; width:80%; color:#6F6F6F; margin-bottom:5px;  font-size:13px; padding:15px; border-top-left-radius:20px; border-top-right-radius:20px; border-bottom-right-radius:20px;}
.balao_resposta_cor { margin-bottom:5px;background-color:#D3FAFF;width:80%;font-family: 'ubunturegular';border-top-left-radius:20px; border-top-right-radius:20px; border-bottom-right-radius:20px;color:#6F6F6F;  font-size:11px; padding:15px;}

.mensagem_enviada { font-family: 'ubunturegular';  font-size:11px; float:left; }
.assunto_sic { font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; text-align:center; }
.nivel_sic { font-family: 'ubunturegular';  font-size:18px; float:left; }

.botao_aguardando_cor {text-align:center; text-transform:uppercase;border-radius:25px; font-size:11px;  font-family: 'ubunturegular'; padding:5px 15px; background-color:#FF9015;color:#FFF;}

.botao_expirada_cor {text-align:center; text-transform:uppercase;border-radius:25px; font-size:11px;  font-family: 'ubunturegular'; padding:5px 15px; background-color:#CB2500;color:#FFF;}

.botao_finalizado_cor {text-align:center; text-transform:uppercase;border-radius:25px; font-size:11px;  font-family: 'ubunturegular'; padding:5px 15px; background-color:#00B3FF;color:#FFF;}

/*CADASTRO DE EMPRESA*/
.preencha_campos_informacao {width:100%; margin-top:8px; font-family: 'ubunturegular'; text-align:left;  font-size:12px; color:#3E3E3E; float:left;}
.campos_obrigatorios {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:11px; color:#6A6A6A; float:left;}
.input_interno_cadastro_empresa {width:100%;float:left;border:1px solid #CCC;padding:7px 0;}
.interna_descreva_empresa {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:justify;  font-size:13px; color:#3E3E3E; float:left;}
.estilo_cadastro_empresa {font-family: 'ubunturegular'; text-align:center; background-color:#036; font-size:11px; color:#FFF; float:left; padding:9px 0; border-radius:2px;}
.cont_input_formulario_interna {width:100%;float:left;font-size:13px;margin-top:20px;text-transform:uppercase;font-family:Verdana, sans-serif;color:#5E5E5E;}
.cont_radio_formulario_interna {width:100%;float:left;font-size:11px;text-transform:capitalize;margin-top:10px;font-family:Verdana, sans-serif;color:#5E5E5E;}
.input_formulario_interna {width:100%;float:left;padding:7px 0;	border-radius:2px;border:1px solid #D3D3D3;}
/*FIM CADASTRO DE EMPRESA*/

/*BUSCA DETALHADA*/
.titulo_busca_interna {width:100%; margin-top:8px; font-family: 'ubunturegular'; text-align:left;  font-size:12px; color:#3E3E3E; float:left;}
.descricao_busca_interna {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:11px; color:#6A6A6A; float:left;}
.titulo_busca_detalhada {color:#2F2F2F; margin-top:20px; margin-bottom:15px;font-size:15px; width:100%; text-align:center;font-family: 'ubunturegular';}
.input_interna_busca_detalhada {width:100%;float:left;height:30px;border-radius:4px;border:1px solid #E1E1E1;}	
/*FIM BUSCA DETALHADA*/

/*CONTAS PUBLICAS*/
.bordar_modelo_contas_p {border-radius:4px;border: 2px solid #1162ad;}
.titulo_contas_publicas {width:100%; font-family: 'ubunturegular';color:#252525; font-size:12px; float:left;}
.realizacao_contas_publicas {float:left; width:85%;font-family: 'ubunturegular'; font-size:11px;}
.descricao_contas_publicas {width:100%;color:#6E6E6E; font-family: 'ubunturegular';font-size:11px; float:left;}
/*FIM CONTAS PUBLICAS*/

/*CONTATO*/
.atendimento_localizacao {width:100%; font-family: 'ubunturegular'; margin-top:15px;  float:left; font-size:13px; color:#414141;}
.info_atendimento_localizacao {width:100%; font-family: 'ubunturegular'; float:left; font-size:13px; color:#414141;}
.formulario_email_titulo {width:100%; font-family: 'ubunturegular'; text-align:center; float:left; font-size:20px; color:#414141;}
.formulario_email_descricao {width:100%; font-family: 'ubunturegular';  text-align:center; float:left; font-size:13px; color:#414141;}
.input_interna_contato {width:100%;float:left;border:1px solid #CCC;padding:7px 0;}
.input_interna_contato_codigo {width:180px; margin-top:9px;float:left;border:1px solid #CCC;padding:7px 0;}
.titulo_contato_interna {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:left;  font-size:18px; color:#1F1F1F; float:left;}
.texto_contato_interna {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:justify;  font-size:13px; color:#3E3E3E; float:left;}
/*FIM CONTATO*/
.input_interna_editais_codigo {width:65%;float:right;border:1px solid #CCC;padding:7px 0; margin-top:35px;}
/*DIARIO OFICIAL*/
.titulo_diario_oficial_modelo {width:100%; font-family: 'ubunturegular'; color:#252525;font-size:12px; float:left;}
.icone_diario_oficial_cor_mobile {background-color:#1162ad;text-align:center;color:#FFF;border-radius:25px;font-family: 'ubunturegular'; font-size:11px; }
/*FIM DIARIO OFICIAL*/

/*DOWNLOAD*/
.color_download_interna {background-color:#fff;border:2px solid #1162ad;}
.titulo_download_interna {width:100%; font-family: 'ubunturegular'; text-align:left; 	font-size:12px; float:left;	}
.descricao_download_interna {float:left; width:96%; color:#1162ad; text-align:left; font-family: 'ubunturegular';font-size:11px; }
.cont_download_interna {width:96%;float:left;height:25px;margin-left:2%; bottom:0; margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:10px;background-color:#1162ad; color:#FFF;}
.cont_modelo_download_botao {width:96%;float:left;height:25px;margin-left:2%;margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:10px;background-color:#1162ad;}
/*FIM DOWNLOAD*/

.cont_modelo_edital_botao {width:230px;float:left;margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding:10px 0;background-color:#1162ad;}

/*EDITAIS*/
.input_edital_interna_color {width:100%;float:left;	border:1px solid #CCC;padding:7px 0;font-family: 'ubunturegular';font-size:11px; color:#999;}
.input_editais {width:100%;float:left;height:30px;border-radius:4px;border:1px solid #E1E1E1;}	
.titulo_editais_modelo {width:100%; font-family: 'ubunturegular'; color:#252525;font-size:12px; float:left;}
.realizacao_editais_modelo {float:left;width:85%;font-family: 'ubunturegular';font-size:11px;}
.descricao_editais_modelo {width:100%;color:#6E6E6E;font-family: 'ubunturegular';font-size:11px; float:left;}
.bordar_modelo_editais {border-radius:4px;border: 2px solid #1162ad;}
.botao_cont_input_editais {	width:100%;	float:left;	margin-top:15px;text-align:center;background-color:#1162ad;	margin-right:1.333%;margin-left:1.333%;border-radius:3px;color:#FFF;border:1px solid #FFF;font-family: 'ubunturegular';font-size:11px;padding-top:9px;padding-bottom:9px;}

/*FIM EDITAIS*/

/*EDITAl INTERNA*/
.descricao_editais_modelo_interna {width:100%;color:#6E6E6E;font-family: 'ubunturegular';font-size:11px;float:left;}
.download_edital_interna {width:100%; font-family: 'ubunturegular'; text-align:left;  font-size:11px; color:#6A6A6A; float:left;}
.titulo_editais_modelo_interna {width:100%; font-family: 'ubunturegular';color:#252525;font-size:15px;float:left;}
/*FIM EDITAl INTERNA*/


/*EMPREGA*/
.bg_azul {background-color:#FFF;border:2px solid #036;font-family: 'ubunturegular';font-size:12px;text-transform:uppercase;color:#6C6C6C;border-radius:45px;}
.bg_verde {background-color:#FFF;border:2px solid #063;font-family: 'ubunturegular';font-size:12px;text-transform:uppercase;color:#6C6C6C;border-radius:45px;}
.bg_vermelho {background-color:#FFF;border:2px solid #A40000;font-family: 'ubunturegular';font-size:12px;text-transform:uppercase;color:#6C6C6C;border-radius:45px;}
.color_interna_botao_emprega {background-color:#036;color:#FFF;border-radius:45px;font-size:14px;font-family: 'ubunturegular';}
.color_interna_botao_emprega2 {background-color:#D20000;color:#FFF;border-radius:45px;font-size:14px;font-family: 'ubunturegular';}
.font_nome_cadastro {width:100%;float:left;	color:#122F41;font-family: 'ubunturegular';font-size:15px;text-align:center;margin-left:2%;}
.descricao_emprega_modelo_interna {width:100%;color:#6E6E6E;font-family: 'ubunturegular';font-size:11px;float:left;text-align:center;}
.input_empresa_cadastro_interna {width:100%;float:left;height:30px;border-radius:4px;color:#6E6E6E;font-family: 'ubunturegular';font-size:11px;border:1px solid #E1E1E1;}
.font_descricao_cadastro {width:100%;float:left;color:#122F41;font-family: 'ubunturegular'; text-align:center;font-size:11px;margin-top:3px;}
.botao_cadastrar_emprega {padding:5px 15px;	float:left; border-radius:2px; margin-top:15px; margin-left:2%;font-family: 'ubunturegular'; font-size:11px; color:#FFF;background-color:#1162ad;}
.input_emprega_formulario_mensagem {width:100%;float:left;background-color:#F9F9F9;border:1px solid #F3F3F3;border-radius:2px;padding:8px 0;margin-top:5px;font-family: 'ubunturegular';font-size:12px;color:#1162ad;}
/*FIM EMPREGA*/

/*EMPREGOS*/
.usuario_nome_interna_empregos { width:70%;  margin-top:2px;	font-family: 'ubunturegular';	font-size:12px; float:left; color:#828282;}
.botao_sair_sic {padding:5px 15px; float:left; border-radius:2px; margin-top:8px; font-family: 'ubunturegular'; font-size:11px; color:#FFF; background-color:#1162ad;}
/*FIM EMPREGOS*/

/*FORMULARIO*/
.input_formulario_interna {width:100%;	float:left;	padding:10px 0;	background: #ffffff; border:1px solid #f3f3f3;}
.botao_input_formulario_interna {width:100%;float:left;	padding:7px 0;border-radius:2px; border:1px solid #D3D3D3;}
.titulo_formulario_interna {width:100%; font-family: 'ubunturegular'; margin-top:15px; text-align:center;  font-size:18px; color:#6A6A6A; float:left;}
.sub_formulario_interna {width:100%; font-family: 'ubunturegular'; text-align:center;  font-size:13px; color:#6A6A6A; float:left;}
.input_formulario_cadastro_interna {width:100%;float:left;height:30px;border-radius:4px;border:1px solid #E1E1E1;}
.input_codigo_sic {	width:60%; float:right;	padding-top:7px; margin-top:8px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.botao_enviar_formulario {width:100%; float:right; padding-top:7px; margin-top:8px; padding-bottom:7px; font-family: 'ubunturegular'; border-radius:2px; color:#FFF; border:1px solid #1A3B55; background-color:#1A3B55;}
/*FIM FORMULARIO*/

/*GALERIA DE FOTOS*/
.fundo_color_galeria_fotos {background-color:#145d32;}
.color_galeria_fotos {float:left;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#1169B9;}
.titulo_galeria_fotos_interna {	width:100%;font-family: 'ubunturegular'; margin-top:10px; text-align:center; font-size:14px;color:#FFF; float:left;}
.data_galeria_fotos_interna {width:100%;font-family: 'ubunturegular';margin-top:10px; text-align:center;font-size:12px;	color:#F0F0F0;float:left;}
.cont_modelo_galeria_fotos_botao {width:100%;float:left;height:25px;margin-top:15px;margin-bottom:3px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:7px;
background-color:#134E84;}
/*FIM GALERIA DE FOTOS*/

/*GALERIA DE PREFEITO*/
.titulo_prefeito_atual_interna {width:100%; font-family: 'ubunturegular';margin-top:10px;text-align:center;font-size:17px;color:#FFF;float:left;}
.atuacao_prefeito_atual_interna {width:100%; font-family: 'ubunturegular';padding-bottom:15px; text-align:center;font-size:13px;color:#FBFBFB;float:left;}
.color_prefeito_atual {float:left;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#1169B9;}
.color_prefeito_anterior {float:left;border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#A9BDD0;}
/*FIM GALERIA DE PREFEITO*/

/*JORNAL*/

.titulo_jornal_interna {width:100%; font-family: 'ubunturegular';margin-top:10px; text-align:center; font-size:14px; color:#FFF;float:left;	}
.data_jornal_interna {width:100%; font-family: 'ubunturegular';text-align:center; font-size:11px; color:#FFF; float:left;}
.cont_modelo_jornal_botao {	width:100%;float:left;height:25px;margin-top:15px;margin-bottom:3px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:7px;background-color:#13599A;}
.faca_download_color {background-color:#363636; border-radius:2px; padding:7px 25px;  text-decoration:none; color:#FFF;}
.titulo_jornal_download {font-family: 'ubunturegular'; font-size:14px; }
/*FIM JORNAL*/

/*LINKS*/
.titulo_links_uteis_interna {width:100%; font-family: 'ubunturegular'; height:33px; text-align:center; text-decoration:none; color:#6A6A6A; font-size:12px;float:left;}
.descricao_links_uteis_interna {float:left; width:96%; color:#1162ad;margin-left:2%;margin-top:2px;  text-align:center; text-decoration:none; font-family: 'ubunturegular';font-size:11px;}
.cont_modelo_links_botao {width:96%;float:left;height:25px;margin-left:2%;margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:7px;	background-color:#1162ad;}
.box_secretaria { padding:10px; text-align:left; text-decoration:none; font-family: 'ubunturegular';font-size:12px;color:#909090; margin:15px 5px; border:1px solid #cacdcf; float:left; position:relative;}
.color_links_interna {border:2px solid #145d32;}

/*FIM LINS*/

/*LISTAGEM*/
.titulo_listagem_interna {width:100%; font-family: 'ubunturegular'; color:#6A6A6A; text-align:center; font-size:16px;float:left;}
.descricao_listagem_interna {float:left; width:96%; height:50px; white-space:pre-line; overflow:hidden; color:#ABABAB; margin-left:2%;margin-top:2px; text-align:center; font-family: 'ubunturegular';font-size:11px;}
.cont_modelo_listagem_botao {width:96%;float:left;margin-left:2%;margin-top:15px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding:10px 0;	background-color:#1162ad; border:1px solid #1162ad;}
.secretarias_titulo_interna {font-family: 'ubunturegular'; margin:15px 0 5px 0; width:99%; border-radius:2px; color:#FFF; text-align:left; font-size:12px;float:left; padding:10px 0 10px 5px;background-color:#1169B9; }
.secretarias_sub_interna {font-family: 'ubunturegular'; margin:15px 0 5px 0; width:99%; border-radius:2px; color:#1169B9; text-align:left; font-size:12px;float:left; padding:10px 0 10px 5px;background-color:#FFF; }
.color_listagem {border:2px solid #1162ad;}


/*FIM LISTAGEM*/

.titulo_sub_interna {width:100%; font-family: 'ubunturegular'; color:#FFF; text-align:center; font-size:16px;float:left;}
.descricao_sub_interna {float:left; width:96%; color:#FFF; margin-left:2%;margin-top:2px; text-align:center; font-family: 'ubunturegular';font-size:11px;}

/*NOTICIA*/
.color_data_noticia_interna {background-color:#1162ad;color:#FFF;font-family: 'ubunturegular';font-size:11px;}
.botao_noticia {width:100%;float:left;text-align:center;border-radius:25px;font-family: 'ubunturegular';font-size:11px;padding:5px 0;color:#8F8F8F;margin-top:15px;border:1px solid #E5E5E5;}
/*FIM NOTICIA*/

/*SECRETARIAS*/
.color_secretarias {float:left;	border-bottom-left-radius:4px;border-bottom-right-radius:4px;background-color:#1169B9;}
.cont_modelo_secretarias_botao {width:100%;	float:left;	height:25px;margin-top:15px;margin-bottom:3px;border-radius:2px;font-family: 'ubunturegular';font-size:10px;color:#FFF;text-align:center;padding-top:7px;	background-color:#1162ad;}
.titulo_secretarias_interna {width:100%; font-family: 'ubunturegular'; margin-top:10px; text-align:center;font-size:12px; color:#FFF; float:left;}
.descricao_secretarias_interna {float:left; width:96%; color:#D4E3F0;margin-left:2%;margin-top:2px; text-align:center; font-family: 'ubunturegular'; font-size:11px; }
/*FIM SECRETARIAS*/

/*VIDEOS*/
.titulo_galeria_videos_interna {width:100%; font-family: 'ubunturegular'; margin-top:10px; text-align:center; font-size:17px; color:#134E84; float:left;}
.data_galeria_videos_interna {width:100%; font-family: 'ubunturegular'; text-align:center;  font-size:11px;color:#1A3B55;float:left;}
.descricao_galeria_videos_interna {width:100%; font-family: 'ubunturegular';margin-top:10px; height:50px; text-align:center;font-size:12px; color:#1A3B55; float:left;}
.cont_modelo_galeria_videos_botao a:link {	width:100%;	float:left; text-decoration:none;	height:25px;margin-top:15px;margin-bottom:3px;font-family: 'open_sansbold'; font-size:11px;color:#FFF;border-radius:25px;text-align:center;	padding-top:7px;border:2px solid #0A5890; background-color:#0A5890;}
/*FIM VIDEOS*/



/*LEIS E DECRETOS*/
.cont_leis_modelo_cor {	width:100%;	float:left;color:#FFF;padding:7px 0;border-top-left-radius:4px;border-top-right-radius:4px;	background-color:#036;}
.cont_leis_modelo_mobile {width:100%;float:left;padding:7px 0;margin-bottom:12px;margin-top:10px;border-bottom:1px solid #CCC;text-align:center;font-family: 'ubunturegular'; font-size:11px; }

.titulo_resultado_leis {width:100%;float:left;padding:7px 0;border-bottom:1px solid #CCC;text-align:center;font-family: 'ubunturegular'; font-size:11px; }


/*FIM LEIS E DECRETOS*/

/*MAPA DO SITE*/
.mapa_titulo {	width:230px;float:left;	color:#FFF;Font-size:13px;font-family: 'ubunturegular';text-align:center;padding-top:8px;padding-bottom:8px;margin-left:2%;margin-top:-20px;background-color:#19769E;}
/*FIM MAPA DO SITE*/

/*NEWSLETTER*/
.input_campo_newsletter {width:100%; float:left;	padding-top:7px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.input_codigo_newsletter {width:60%; float:left; margin-left:10px; padding-top:7px; margin-top:8px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.botao_enviar_formulario_newsletter a:link {	width:100%; float:left; text-align:center; padding-top:7px; padding-bottom:7px; color:#FFF; background-color:#16408B; border-radius:2px; border:1px solid #16408B;}
/*FIM NEWSLETTER*/

/* PAGINA INTERNA*/
.titulo_pagina_interna {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:left;  font-size:18px; color:#1F1F1F; float:left;}
.descricao_pagina_interna {	width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:left;  font-size:12px; color:#3E3E3E; float:left;	}
.float_right_interna {float:right;}
/*FIM PAGINA INTERNA*/

/*SIC*/
.font_sic_interna {font-family: sans-serif;color:#5E5E5E;text-transform:uppercase;font-size:11px;}
.input_sic_interna {width:100%;float:left;height:30px;border-radius:4px;border:1px solid #E1E1E1;}
.botao_enviar_sic {	padding:7px 15px;background-color:#1162ad;font-size:12px;color:#FFF;float:right;margin-top:15px;margin-right:2%;text-align:center;border-radius:2px;font-family: 'ubunturegular';}
.esqueceu_senha_sic {float:left;color:#122F41;margin-left:2%;margin-top:18px;font-family: 'ubunturegular';font-size:11px;text-align:left;}
/*FIM SIC*/

/*SIC ATENDIMENTO*/
.usuario_nome_interna {	width:70%; margin-left:2%; margin-top:2px;	font-family: 'ubunturegular';	font-size:12px; float:left; color:#828282;}
.titulo_nivel_solicitacao {	width:100%; float:left; margin-top:5px; margin-top:20px;  font-family: 'ubunturegular'; font-size:16px; color:#1162ad;}
.sic_menu_cor {background-color:#1162ad;border-bottom:5px solid #E8CA00;font-family: 'ubunturegular'; 	font-size:12px;}
.envie_solicitacao {width:100%; float:left; font-family: 'ubunturegular'; font-size:12px; color:#979797;}
.input_titulo_mensagem {width:60%;float:left;background-color:#F9F9F9;border:1px solid #F3F3F3;	border-radius:2px;padding:8px 0;margin-top:15px;font-family: 'ubunturegular'; font-size:12px; color:#1162ad;}
.mensagem_sic_interna {width:100%; margin-bottom:15px; float:left;background-color:#F9F9F9;border:1px solid #F3F3F3;	border-radius:2px;padding:8px 0;margin-top:15px;font-family: 'ubunturegular'; font-size:12px; color:#1162ad;}
.input_conteudo_mensagem {width:100%;float:left;background-color:#F9F9F9;border:1px solid #F3F3F3;border-radius:2px;padding:8px 0;margin-top:15px;font-family: 'ubunturegular'; font-size:12px; color:#1162ad;	height:150px;}
.botao_enviar_solicitacao {padding:5px 15px; float:right; border-radius:2px; margin-top:15px; font-family: 'ubunturegular'; font-size:11px; color:#FFF; background-color:#1162ad;}
.sic_input_formulario_interna {width:100%;float:left;padding:7px 0;border-radius:2px;border:1px solid #D3D3D3;}
.input_codigo_sic {width:60%; float:right;	padding-top:7px; margin-top:8px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.termos_sic {font-family: 'ubunturegular';	font-size:12px; float:left; color:#828282; margin-top:2px;}
.input_codigo_sic_emprega {width:55%; float:left; margin-left:15px; background-color:#F9F9F9;	padding-top:7px; margin-top:8px; padding-bottom:7px; border-radius:2px; border:1px solid #F3F3F3;}

/*PREFEITO*/
.titulo_prefeito_interna {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:left;  font-size:18px; color:#1F1F1F; float:left;}
.texto_prefeito_interna {width:100%; margin-top:15px; font-family: 'ubunturegular'; text-align:justify;  font-size:13px; color:#3E3E3E; float:left;}
.input_campo_prefeito {	width:100%; float:left;	padding-top:7px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.input_campo_mensagem_prefeito {width:100%; float:left; height:120px;padding-top:7px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}
.botao_enviar_formulario_prefeito {	width:100%; float:left; text-align:center; padding-top:7px; padding-bottom:7px; color:#FFF; background-color:#16408B; border-radius:2px; border:1px solid #16408B;}
/*FIM PREFEITO*/

/* Define a cor do link_padrao */
.link_padrao { color:inherit; }

.color_servicos {background-color:#1162ad;color:#FFF;font-family: 'ubunturegular';font-size:11px;border-radius:2px;}
.cont_input_mes_ano {width:45%;	float:left;	height:30px;margin-right:5%;}	
.input_mes_ano {width:100%;float:left;height:30px;border-radius:4px;border:1px solid #E1E1E1;}	
.posicao_icone {float:left;	margin-top:2px;}
.input_codigo {	width:55%; float:right;	padding-top:7px; margin-top:8px; padding-bottom:7px; border-radius:2px; border:1px solid #CFCFCF;}

.cont_campo_input_interna {width:100%; margin-bottom:5px; float:left; padding:5px 0; border:1px solid #D3D3D3;}
.departamentos_busca_emprega {width:200px; margin-bottom:5px; padding:5px 0; border:1px solid #D3D3D3;}
.cont_campo_emprega_form {width:55%; float:left; }
.cont_campo_emprega_form2 {width:60%; float:left; }
.botao_adicionar_vaga {float:left; padding:7px 25px; background-color:#0952B4; color:#FFF;font-family: 'ubunturegular'; font-size:12px;}
.busca_departamento_emprega {padding:7px 25px; background-color:#0952B4; color:#FFF;font-family: 'ubunturegular'; font-size:12px;}
.botao_inserir {float:left; padding:7px 25px; background-color:#0952B4; color:#FFF;font-family: 'ubunturegular'; font-size:12px;}
.texto {width:100%; margin-top:10px; float:left;font-family: 'ubunturegular'; font-size:12px; color:#8C8C8C;}
/* FONT OPEN */
.bold_open {font-family: 'open_sansbold';}
.light_open {font-family: 'open_sanslight';}
.regular_open {	font-family: 'open_sansregular';}
.semi_open {font-family: 'open_sanssemibold';}
.open_bold {font-family: 'open_sansbold';}

/*  FONT MONT */
.black_mot {font-family: 'montserratblack';}
.bold_mot {	font-family: 'montserratbold';}
.light_mot {font-family: 'montserratlight';	}
.regular_mot {font-family: 'montserratregular';}

/* FONT UBUN */
.bold_ubun {font-family: 'ubuntubold';}
.light_ubun {font-family: 'ubuntulight';}
.light_ubun {font-family: 'ubuntumedium';}
.regular_ubun {	font-family: 'ubunturegular';}

.cinza_escuro {color:#252525;}
.cinza_claro {color:#e6e6e6;}
.color_cinza {color:#8E8E8E;}

.size10 {font-size:10px;}
.size11 {font-size:11px;}
.size12 {font-size:12px;}
.size13 {font-size:13px;}
.size14 {font-size:14px;}
.size15 {font-size:15px;}
.size16 {font-size:16px;}
.size18 {font-size:18px;}

.text_align_center { text-align:center;}
.font_up {text-transform:uppercase;}
.float_left { float:left;}
.float_right { float:right;}

.cont_campo_emprega_form3 {width:100%; float:left;}
.cont_campo_emprega_form6 {width:98%; float:left; border-radius:10px;  border:1px #DFDFDF solid; padding:7px 5px;}
.tabela_topo_emprega {width:98%; margin-top:15px; background-color:#EDEDED; font-family: 'ubunturegular'; font-size:12px; float:left;  padding:7px;}
.tamanho_tabela {width:24%; float:left; text-align:left;}
.tamanho_tabela_departamentos {width:24%; float:left; text-align:left; border-bottom:1px #FFF solid; }
.tabela_topo_cadastrada {width:98%; border-bottom:1px solid #EDEDED; font-family: 'ubunturegular'; font-size:12px; float:left;  padding:7px;}
.verde {color:#0A9E08; margin-right:5px;}
.vermelho {color:#E4000E;margin-right:5px; }
.cor_icone_empresa {color:#666666; }
.top5 {margin-top:5px;}
.top10 {margin-top:10px;}
.top15 {margin-top:15px;}
.top20{margin-top:20px;}
.top30{margin-top:30px;}
.top40{margin-top:40px;}
.marg_top15 {margin-top:15px;}
.cor_link {color:#000;}
.cor_link_b {color:#FFF;}
.botao_ativo_desativo {width:300px; font-family: 'ubunturegular'; font-size:13px; margin-top:20px; float:left;}

.acompanhe_rede {color:#FFF; margin:-14px 5px 10px 0; height:25px; width:93%; margin-left:15px; font-family: 'ubunturegular'; font-size:12px; float:left;}
.icone_rede_social {width:15px; height:15px;float:left; margin-left:8px;}

@media screen and (max-width:837px) {
.botoes_acesso {width:46%; margin-right:1%; margin-top:1%;text-align:center; text-decoration:none; border:1px solid #E5E5E5; float:left; border-radius:10px; margin-top:15px; font-family: Helvetica, Arial, sans-serif; padding:10px 5px;}
} 

@media screen and (max-width:480px) {
	.download_arquivo_edt { border-radius:4px; margin-top:15px; margin-bottom:5px; float:right; color:#454545; width:96%; padding:10px;  background-color:#E5E5E5; text-align:center;}
	.botoes_acesso {width:44%; margin-right:1%; height:145px }
	.bt_download_cadastro {float:right; width:97%;  margin-right:0; padding:10px;}
	.bt_download_interna_edital {float:right; width:97%;  margin-right:0; padding:10px;}
	.tamanho_itens_sic_botao {width:98%; float:left; margin-top:-2px; }
	.input_interna_editais_codigo {width:100%;float:right;border:1px solid #CCC;padding:7px 0; margin-top:35px;}
	.input_interna_contato_codigo {width:52%;float:right;border:1px solid #CCC;padding:7px 0; margin-top:8px;}
	.tamanho_itens_sic {width:50%; float:left;}
	.cont_campo_input_interna {width:100%; margin-bottom:5px; float:left; padding:5px 0; border:1px solid #D3D3D3;}
	.cont_campo_emprega_form {width:98%; float:left; }
	.texto {width:100%; float:left;}
	.cont_campo_emprega_form2 {width:98%; float:left; }
	.tamanho_tabela_departamentos {width:98%; border-bottom:1px #DFDFDF solid; padding:7px 0; float:left; text-align:left;}
	.contencao_opcoes {width:95%;float:left; padding:8px 10px; margin-top:10px; border-radius:10px;  border:1px solid #E5E5E5;}
	.vermelho_destaque {color:#C10003; width:100%; text-align:left; margin-top:5px; font-size:15px; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; font-weight:bold;}
}





























@font-face {
    font-family: 'open_sansbold';
    src: url('font/font/opensans-bold_2-webfont.eot');
    src: url('font/opensans-bold_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold_2-webfont.woff2') format('woff2'),
         url('font/opensans-bold_2-webfont.woff') format('woff'),
         url('font/opensans-bold_2-webfont.ttf') format('truetype'),
         url('font/opensans-bold_2-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('font/opensans-light_2-webfont.eot');
    src: url('font/opensans-light_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-light_2-webfont.woff2') format('woff2'),
         url('font/opensans-light_2-webfont.woff') format('woff'),
         url('font/opensans-light_2-webfont.ttf') format('truetype'),
         url('font/opensans-light_2-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular_2-webfont.eot');
    src: url('font/opensans-regular_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular_2-webfont.woff2') format('woff2'),
         url('font/opensans-regular_2-webfont.woff') format('woff'),
         url('font/opensans-regular_2-webfont.ttf') format('truetype'),
         url('font/opensans-regular_2-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('font/opensans-semibold_2-webfont.eot');
    src: url('font/opensans-semibold_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-semibold_2-webfont.woff2') format('woff2'),
         url('font/opensans-semibold_2-webfont.woff') format('woff'),
         url('font/opensans-semibold_2-webfont.ttf') format('truetype'),
         url('font/opensans-semibold_2-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratblack';
    src: url('font/montserrat-black_0-webfont.eot');
    src: url('font/montserrat-black_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-black_0-webfont.woff2') format('woff2'),
         url('font/montserrat-black_0-webfont.woff') format('woff'),
         url('font/montserrat-black_0-webfont.ttf') format('truetype'),
         url('font/montserrat-black_0-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('font/montserrat-bold_0-webfont.eot');
    src: url('font/montserrat-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-bold_0-webfont.woff2') format('woff2'),
         url('font/montserrat-bold_0-webfont.woff') format('woff'),
         url('font/montserrat-bold_0-webfont.ttf') format('truetype'),
         url('font/montserrat-bold_0-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('font/montserrat-light_0-webfont.eot');
    src: url('font/montserrat-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-light_0-webfont.woff2') format('woff2'),
         url('font/montserrat-light_0-webfont.woff') format('woff'),
         url('font/montserrat-light_0-webfont.ttf') format('truetype'),
         url('font/montserrat-light_0-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('font/montserrat-regular_0-webfont.eot');
    src: url('font/montserrat-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-regular_0-webfont.woff2') format('woff2'),
         url('font/montserrat-regular_0-webfont.woff') format('woff'),
         url('font/montserrat-regular_0-webfont.ttf') format('truetype'),
         url('font/montserrat-regular_0-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold';
    src: url('font/ubuntu-b-webfont.eot');
    src: url('font/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-b-webfont.woff2') format('woff2'),
         url('font/ubuntu-b-webfont.woff') format('woff'),
         url('font/ubuntu-b-webfont.ttf') format('truetype'),
         url('font/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('font/ubuntu-l-webfont.eot');
    src: url('font/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-l-webfont.woff2') format('woff2'),
         url('font/ubuntu-l-webfont.woff') format('woff'),
         url('font/ubuntu-l-webfont.ttf') format('truetype'),
         url('font/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('font/ubuntu-m_0-webfont.eot');
    src: url('font/ubuntu-m_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-m_0-webfont.woff2') format('woff2'),
         url('font/ubuntu-m_0-webfont.woff') format('woff'),
         url('font/ubuntu-m_0-webfont.ttf') format('truetype'),
         url('font/ubuntu-m_0-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('font/ubuntu-r-webfont.eot');
    src: url('font/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/ubuntu-r-webfont.woff2') format('woff2'),
         url('font/ubuntu-r-webfont.woff') format('woff'),
         url('font/ubuntu-r-webfont.ttf') format('truetype'),
         url('font/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}