:root {
    --cor-primaria: #00486F;
    --gradiente-veradores: linear-gradient(160deg, rgba(0,72,111,1) 0%, rgba(255,255,255,1) 55%);
    --sombra: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.card{
    margin: 4% 0%;
}

.card_cabecalho{
    background-color: var(--cor-primaria) !important;
    color:#fff;
    border-radius: 5px 5px 0px 0px !important;
}

.box_licitacao {
    background-color: #fff;
    border-radius: 15px;
    padding: 0px;
    width: 100%;
    height: auto;
    max-width: 550px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.box_licitacao p {
    text-align: center;
}

.dados_header{
    display: flex;
}

.dados_header p {
    margin-right: 15%;
}